<div class="deliver row">
  <button class="btn btn-success fluid-width save-page" type="submit"><i class="gcicon gcicon-save"></i> <span>Save</span></button>
  <% unless delete_url.nil? %>
    <%=
        ("<button class='btn btn-primary fluid-width delete delete-model'" +
          "data-url='#{delete_url}' data-redirect-url='#{after_delete_url}'" +
          "data-text='#{confirm_text}'><i class='gcicon gcicon-trash'></i> <span>Delete</span></button>").html_safe %>
  <% end %>
</div>