<div id="sub-form-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="subFormTitle" aria-hidden="true">
  <div class="modal-dialog" style="z-index: 1050;"> <!-- FIXME - why is this z-index needed?  Why does the modal show behind the backdrop? -->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" style="z-index: 9999;" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 id="subFormTitle" class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
