<div class="dropdown">
  <button class="btn btn-link-grey icon-left" type="button" id="dropdown-sort">
    <i class="icon icon-file"></i> Inquiries <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li role="presentation">
      <%= link_to '<i class="gcicon gcicon-index"></i> '.html_safe + "Inbox",
                  refinery.inquiries_admin_inquiries_path,
                  { :role =>"menuitem" } %>
    </li>
    <li role="presentation">
      <%= link_to '<i class="gcicon gcicon-trash"></i>'.html_safe + " Spam (#{@spam_count})",
                  refinery.spam_inquiries_admin_inquiries_path,
                  { :role =>"menuitem" } %>
    </li>
    <li role="presentation">
      <a href="<%= refinery.edit_inquiries_admin_setting_path(:inquiry_notification_recipients) %>" class="open-modal" role="menuitem" data-modal-selector="#notification-modal">
        <i class="gcicon gcicon-edit"></i> Who to notify
      </a>
    </li>
    <li role="presentation">
      <a href="<%= refinery.edit_inquiries_admin_setting_path(:inquiry_confirmation_body) %>" class="open-modal" role="menuitem" data-modal-selector="#response-email-modal">
        <i class="gcicon gcicon-edit"></i> Response email
      </a>
    </li>
  </ul>
</div>

<div id="notification-modal" class="ui standard modal">
  <i class="close gcicon gcicon-cancel"></i>
  <div class="header">
    Who should be notified?
  </div>
  <div class="content">
    <div class="description">
    </div>
  </div>
  <div class="actions">
    <div class="buttons">
      <div class="btn btn-default btn-modal-cancel">
        Cancel
      </div>
      <div class="btn btn-primary btn-submit-modal">
        Submit
      </div>
    </div>
  </div>
</div>

<div id="response-email-modal" class="ui standard modal">
  <i class="close gcicon gcicon-cancel"></i>
  <div class="header">
    Response Email
  </div>
  <div class="content">
    <div class="description">
    </div>
  </div>
  <div class="actions">
    <div class="buttons">
      <div class="btn btn-default btn-modal-cancel">
        Cancel
      </div>
      <div class="btn btn-primary btn-submit-modal">
        Submit
      </div>
    </div>
  </div>
</div>
