/* -------------------- MAIN -------------------- */

html{
	height: 100%;
}

body{
  overflow-x: hidden;
	font-family: $primary-font;
}

a{
	@include transition($transition);
}

a:link, a:visited{
	color: $primary-color;
}

a:hover, a:focus{
	color: $primary-hover;
	text-decoration: none;
}

a:focus{
  outline: 0;
}

a:active{
	color: $primary-hover;
}

button{
	background: none;
	border: none;
	padding: 0;
	color: $primary-color;
	text-decoration: none;
	&:hover, &:focus{
		color: $primary-hover;
	}
}

* {
  background-repeat: no-repeat;
  position: relative;
  vertical-align: middle;
}

*::selection {
	background: $primary-light; /* Safari */
	color: $white;
}

p::-moz-selection {
	background: $primary-light; /* Firefox */
	color: $white;
}

.margin-bottom-xs{
  margin-bottom: $margin-half;
}

.margin-bottom-sm{
  margin-bottom: $margin;
}

.margin-bottom-md{
  margin-bottom: $margin * 1.5;
}

.margin-bottom{
  margin-bottom: $margin-double;
}

.margin-bottom-lg{
  margin-bottom: $margin * 3;
}

.bump-up{
  top: -1px;
}

.bump-up-2{
  top: -2px;
}

.bump-right{
  left: 1px;
}

.bump-down{
  top: 1px;
}

.bump-left{
  left: -1px;
}

.clear:before, .clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}


/* -------------------- ELEMENTS -------------------- */

.section{
	padding-top: $margin;
	padding-bottom: $margin;
}

.cover{
	color: $white;
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
		color: $white;
	}
}

.circle{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: block;
  background: $grey-5;
  @include transition($transition);
}

.icon-stack{
  .circle{
    position: absolute;
    top: 0;
  }
  .icon-stack-1x{
    top: -1px;
    left: -6px;
    font-size: 14px;
  }
}

.quote-wrapper{
  padding-left: 15px;
  padding-right: 15px;
}

.note{
  font-style: italic;
  color: $primary-color;
}

.image-link{
  background: $grey-5;
  display: block;
  &:hover img{
    opacity: 0.8;
  }
}

.image-link img{
  @include transition($transition);
}

.grid-img{
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding-bottom: 64%;
  overflow: hidden;
  height: 0;
  display: block;
  color: $black;
}

.video-link{
	display: block;
	background: $white;
	&:hover{
		.icon-stack{
			@include scale($scale);
		}
		img{
			opacity: 0.8;
		}
	}
	img{
		@include transition($transition);
		@include transition-fix();
		opacity: 1;
	}
	.icon-stack{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -21px;
    margin-left: -21px;
    z-index: 10;
    @include transition($transition);
    .icon-circle-thin{
      color: $white;
      font-size: 50px;
    }
    .icon-play{
      top: 4px;
      left: 2px;
    }
  }
}

.video-16-9{
	padding-bottom: 56.25%;
	height: 0;
	margin-bottom: 60px;
}

.video-16-9 iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-ws{
	padding-bottom: 42.18%;
	height: 0;
	margin-bottom: 60px;
}

.video-ws iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.dropdown-menu{
	@include box-shadow($shadow);
	border: 1px solid $grey-1;
	li{
		margin: 0;
		a{
			padding: 5px 15px;
		}
	}
	.divider{
		margin: 5px 0;
	}
}

.pill{
  padding: 5px 15px 5px 18px;
  height: 40px;
  @include border-radius(20px);
  @include transition($transition ease-out);
  color: $black;
  font-size: 18px;
  border: 1px solid $grey-3;
  display: inline-block;
  .icon{
    font-size: 16px;
    line-height: 1;
    margin: 0 2px 0 0;
    left: -5px;
  }
  .icon-last{
    margin: 0 0 0 2px;
    left: 2px;
  }
  .delete{
    font-size: 24px;
    color: #aeaeae;
    left: 2px;
    margin-left: 2px;
    display: inline-block;
    padding-bottom: 3px;
    &:hover{
      color: $primary-hover;
    }
  }
}

a.pill{
  color: $black;
  &:hover{
    background: $grey-6;
    color: $white;
    border-color: $grey-6;
  }
}

.pill-sm{
  height: 30px;
  padding: 0 12px 0 15px;
  font-size: 14px;
  line-height: 26px;
  .icon{
    font-size: 12px;
  }
}

.pill-xs{
  height: 20px;
  padding: 0 8px 0 10px;
  font-size: 12px;
  line-height: 18px;
  .icon{
    font-size: 12px;
  }
}



/* -------------------- TYPOGRAPHY -------------------- */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: $margin-half;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: $grey-8;
}

h1{
	margin-bottom: $margin;
}

h1 hr{
	width: 200px;
	border: 2px solid $grey-5;
	margin: 10px auto 60px;
}

h2 hr, h3 hr, h4 hr, h5 hr, h6 hr{
	width: 125px;
	margin-bottom: 60px;
	color: $grey-8;
	background-color: $grey-8;
	height: 1px;
}
hr {
  margin: 30px auto; //margin subject to change
  width: 100%;
  height: 4px;
  border: 0;
  background-color: $grey-1;
}

@media (max-width: 767px){
	h1{
		font-size: $font-size-h1 * 0.75;
	}
	h2{
		font-size: $font-size-h2 * 0.75;
	}
	h3{
		font-size: $font-size-h3 * 0.75;
	}
	h4{
		font-size: 18px;
	}
}

p{
	margin-bottom: 0.75em;
}

p.small{
	font-size: 14px;
	line-height: 1.4em;
	font-weight: 600;
	color: $grey-4;
}

ul li{
	margin-bottom: 8px;
}

.tight{
  line-height: 1.4em;
}



/* -------------------- FORMS -------------------- */

form{
  label{
    padding-top: 15px;
    text-align: right;
    font-weight: 400;
  }
  .form-control-static{
    padding-top: 7px;
  }
  .required{
    color: $red;
  }
}

.form-group{
  .form-control, textarea, .btn{
	  @include border-radius($radius);
  }
  textarea{
		resize: none;
		min-height: 137px;
	}
  &.checkbox-group{
    input, label{
      float: left;
    }
    input[type="checkbox"]{
      margin: 4px 0 0;
    }
    label{
      margin: 0 0 0 10px;
      width: 85%;
      font-weight: normal;
      font-size: 16px;
    }
  }
}

.input-group{
  .btn{
    padding: 5px 10px;
  }
}

.submit, .btn{
	.icon{
		margin-left: 10px;
	}
}

.select-area, .form-control{
	@include transition($transition);
  @include box-shadow(none);
  font-size: 18px;
}

::-webkit-input-placeholder {
   font-size: 16px;
   line-height: 1.6;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 16px;
   line-height: 1.6;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 16px;
   line-height: 1.6;
}

:-ms-input-placeholder {  
   font-size: 16px;
   line-height: 1.6;
}

.input-lg::-webkit-input-placeholder {
   font-size: 16px;
   line-height: 1.6;
}

.input-lg:-moz-placeholder { /* Firefox 18- */
   font-size: 16px;
   line-height: 1.8;
}

.input-lg::-moz-placeholder {  /* Firefox 19+ */
   font-size: 16px;
   line-height: 1.8;
}

.input-lg:-ms-input-placeholder {  
   font-size: 16px;
   line-height: 1.6;
}

input:focus, .form-control:focus, input[type="submit"]:focus, .btn:focus, input[type="select"]:focus,{
  border-color: $primary-hover !important;
  outline: 0;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 6px 0px rgba($primary-color,0.3));
}


.dropdown-wrapper{
  background: $white;
  @include border-radius($radius);
  padding: 0;
  select{
    -webkit-appearance: none;
    -moz-appearance: window !important;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    background: transparent;
    font-size: 16px;
    width: 100%;
    padding: 5px 10px !important;
    line-height: 1.2;
    z-index: 10;
  }
  select::-ms-expand {
		display: none; /* to ie 10 */
	}
}

.dropdown-wrapper:after{
  content:"";
  width:0;
  height:0;
  border-style: solid;
  border-width: 8px 7.5px 0 7.5px;
  border-color: $grey-4 transparent transparent transparent;
  top: 50%;
  right: 10px;
  position: absolute;
  margin-top: -2px;
  z-index: 5;
}

.moz-appearance .dropdown-wrapper{
	 border: 1px solid $grey-1 !important;
}

.select-options{
  position: absolute;
  overflow: hidden;
  background: #fff;
  margin:4px 0 0;
  z-index: 2000;
  @include border-radius($radius);
  box-shadow:1px 2px 2px 0 rgba(0,0,0,0.1);
}

.select-options .drop-holder {
  border: 1px solid #c4c4c4;
  overflow: hidden;
  @include border-radius($radius);
  height: 1%;
}

.select-options ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 7px 0 9px;
  font-size:14px;
  line-height:18px;
  font-weight:bold;
}

.select-options ul li {
  width: 100%;
  float: left;
}

.select-options ul a {
  text-decoration: none;
  padding: 4px 14px 3px;
  display: block;
  cursor: default;
  color: #000;
  height: 1%;
}

.select-options .item-selected a {
  text-decoration: none;
  background: #ebebeb;
  color: #000;
}

/* select options optgroup example styles */
.select-options .optgroup { clear: both; }
.select-options .optgroup strong {
  display: block;
  padding: 5px;
}

.select-options .optgroup ul a { padding-left: 30px; }



/* -------------------- FORM VALIDATION -------------------- */

p.alert, p.notice {
  margin: 0;
  padding: 0;
}

p.notice-top {
  top: 85px;
}

.alert, .notice {
  text-align: center;
}

.notice {
  background-color: $yellow-fade;
  color: $yellow;
}

#error_explanation h2 {
  display: none;
}

#error_explanation:before {
  content: "There were problems with the following fields:";
}

#error_explanation,
.errorExplanation,
.alert,
.fieldWithErrors {
  color: $red;
}

#error_explanation,
.errorExplanation,
.alert {
  background-color: $red-fade;
}

#error_explanation,
.errorExplanation,
.alert,
.notice {
  border: none;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 8px 35px 8px 14px;
}



/* -------------------- BUTTONS -------------------- */

.btn{
	font-weight: 400;
	font-size: 16px;
	@include border-radius($radius);
	@include transition($transition);
	@include box-shadow(none);
	text-shadow: 0;
	background-image: none;
	border: none;
	&:active{
		@include box-shadow(none);
	}
	&:focus{
		outline: 0;
	}
}

.btn-uppercase{
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
}

.btn-sm{
  padding: 5px 20px;
}

.btn-md{
  padding: 10px 20px;
}

.btn-lg{
  padding: 15px 20px;
  font-weight: 600;
  font-size: 18px;
}

.btn-xl{
  padding: 25px 45px;
  text-transform: uppercase;
}

.btn-group-xl{
  .btn{
    padding: 25px 45px;
  }
}

@media (max-width: 767px){
  .btn-mobile-block{
    display: block;
    width: 100%;
  }
}

.btn-primary{
	background: $primary-color;
	border: 0;
	font-weight: 600;
	color: $white;
	&:link, &:visited{
		color: $white;
	}
	&:hover, &:focus, &:active{
		background: $primary-hover;
		border-color: $primary-hover;
	}
}

.btn-default{
	background: none;
	border: 1px solid $grey-3;
	color: $grey-5;
	&:link, &:visited{
		color: $grey-5;
	}
	&:hover, &:focus, &:active{
	  background: $primary-hover;
		border: 1px solid $primary-hover;
		color: $white;
	}
}

.btn-white{
	background: $white;
	color: $primary-color;
	&:link, &:visited{
		color: $primary-color;
	}
	&:hover, &:focus, &:active{
	  background: $primary-hover;
		color: $white;
	}
}

.btn-dark{
	background: $grey-6;
	color: $white;
	&:link, &:visited{
		color: $white;
	}
	&:hover, &:focus, &:active{
	  background: $grey-5;
		color: $white;
	}
}

.btn-link{
	color: $primary-color;
	&:hover{
		color: $primary-hover;
	}
}

.btn-link-basic{
  &:link, &:visited{
	  color: $primary-color;
  }
  &:hover{
    color: $primary-hover;
  }
}
