<div id="glass-parking" style="display: none;">
  <a id="glass-module-switcher" href="" class="circle-icon add-module glass-control transitionable" contenteditable=false><i class="gcicon gcicon-plus"></i></a>
  <div id="glass-choose-module" class="new-module media-chooser clear glass-control" contenteditable=false>
    <a href="" id="glass-choose-module-img" class="circle-icon media-type"><i class="gcicon gcicon-photo bump-down"></i></a>
    <a href="" id="glass-choose-module-vid" class="circle-icon media-type"><i class="gcicon gcicon-film"></i></a>
  </div>
  <div id="glass-module-settings-vid" class="new-module media-chooser clear glass-control" contenteditable=false>
    <!--a href="" class="circle-icon add-module glass-left-of-content"><i class="gcicon gcicon-plus glass-control-close"></i></a -->
    <form role="form">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">Vimeo or YouTube URL</div>
          <input id="glass-vid-url-input" class="form-control glass-autofocus" type="text" placeholder="http://...">
          <span class="input-group-btn">
            <button id="glass-add-vid-btn" type="button" class="btn btn-default">Insert</button>
          </span>
        </div>
      </div>
    </form>
  </div>

  <div id="glass-module-vid-template" class="outer-video">
    <div class="video-wrapper">
      <iframe data-video-link="" src="" frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" scrolling="no" hspace="0">
      </iframe>
    </div>
  </div>
</div>
