<div class="glass-edit" data-glass-options='{"form_id": "page_parts_attributes_0_body", "type": "html"}'>
  <% body = @page.content_for(:body) %>
  <%= raw body.blank? ? '<div id="glass-blank-module-hook"></div>' : body %>
</div>
