/* -------------------- MODULES -------------------- */

.circle-icon{
  @include circle(30px);
  color: $black;
  border: 1px solid $black;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  &:link, &:visited {
    color: $black;
  }
  &:hover, &:focus{
    color: $white;
    border-color: $primary-dark;
    background: $primary-dark;
  }
  &-sm{
    @include circle(20px);
    line-height: 1;
    .icon, .gcicon{
      width: 10px;
      height: 10px;
      font-size: 10px;
      &:last-child{
        margin-left: -10px !important
      }
    }
  }
  &-white{
    border-color: $white;
    background-color: $white;
    color: $primary-color;
    &:hover{
      border-color: $primary-color;;
      background-color: $primary-color;;
      color: $white;
    }
  }
  .icon, .gcicon{
    margin: 0 !important;
  }
}

.circle-icon.fluid-width{
  padding: 0 10px 0 10px;
  min-width: 30px;
  width: auto;
  span{
    padding-top: 2px;
  }
}






