<div id="home">
  <section id="home-cover" class="cover">
    <div class="container">
  	  <h1 data-stellar-ratio="1.5">Work that Matters</h1>
  	  <p data-stellar-ratio="1.35">Tagline...</p>
    </div>
  </section>
</div>
