<% content_for :admin_content do %>
<section class="admin-index container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="admin-title">Pages</h2>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="mini-lesson">
            <div class="portrait">
              <img class="img-circle" src="http://glasscanvas.s3.amazonaws.com/elephant/elephant-portrait.jpg"/>
            </div>
            <div class="message message-right">
              <button class="close hidden"><i class="gcicon gcicon-close"></i></button>
              <p>Howdy! How are ya feeling about the new site? You’re doing great!</p>
              <p>By the way, please don’t forget to add content into your site’s pages. These are pages that tell your readers a little more about you. If you would like, you can add a &ldquo;child page&rdquo; under your About page. An example of a child page would be: <b>Who We Are</b>, <b>What We Do</b>, or <b>What We Believe</b> pages.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="contextual-menu">
        <div class="contextual-options space-between">
          <button id='reorder_action' class="btn btn-link-grey">
            <i class="gcicon gcicon-reorder bump-down"></i> <strong>Reorder</strong>
          </button>
          <button id='reorder_action_done' class="btn btn-link-grey" style="display: none;">
            <i class="gcicon gcicon-reorder"></i> <strong>Done</strong>
          </button>
          <button class="btn btn-primary btn-anchor" data-url="<%= refinery.new_admin_page_path %>">
            <i class="gcicon gcicon-add"></i> <strong>New page</strong>
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 index-listing">
      <% cache_if(Refinery::Pages.cache_pages_backend, [Refinery::Core.base_cache_key, "pages_backend", Globalize.locale].join('_')) do %>
        <%= render 'records' %>
      <% end %>
    </div>
  </div>
</section>
<section>
  <%= render 'actions' %>
</section>
<%= render '/refinery/admin/make_sortable', :tree => true, :replace_contents_after_update => true if @pages.many? -%>
<% end %>
