<% content_for :admin_sidebar do %>
  <div class="page-options">
    <div class="deliver row">
      <div class="pull-left">
        <a href="" class="circle-icon"><i class="gcicon gcicon-screen top-down"></i></a>
      </div>
      <div class="pull-right">
        <a href="" class="circle-icon save-page"><i class="gcicon gcicon-save"></i></a>
        <a href="" class="circle-icon fluid-width publish-page"><i class="gcicon gcicon-publish"></i> <span>Publish</span></a>
      </div>
    </div>
    <div class="page-title" contenteditable="true">Page title</div>
    <div class="url">http://serena.ca/<span class="slug" contenteditable="true">page-title</span>/</div>
    <div class="status">      
      <ul class="list-unstyled">
        <li class="saved-state"><i class="gcicon gcicon-save"></i>Saved at 10:23</li>
        <li>
          <button type="button" class="password-protect" data-toggle="collapse" data-target="#password-protect" aria-expanded="true" aria-controls="demo">
            <i class="gcicon gcicon-lock"></i>Password protect <i class="gcicon gcicon-down"></i>
          </button>
          <div id="password-protect" class="collapse password-collapse">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Password">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Ok</button>
              </span>
            </div>
          </div>
        </li>
        <li>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Draft
            </label>
          </div>
        </li>
      </ul>
    </div>
    
    <button type="button" class="settings-toggle" data-toggle="collapse" data-target="#settings-collapse" aria-expanded="true" aria-controls="demo">
      <i class="gcicon gcicon-gear"></i> Settings
    </button>
    <div id="settings-collapse" class="collapse settings-collapse">
      <div class="form-group">
        <div class="dropdown-wrapper">
          <select class="form-control">
            <option disabled selected>Parent page</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="dropdown-wrapper">
          <select class="form-control">
            <option disabled selected>Template</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </div>
    
    <a href="" class="delete"><i class="gcicon gcicon-trash"></i> Delete</a>
  </div>
<% end %>

<% content_for :admin_page_preview do %>

<section id="article-cover" class="cover">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				
			</div>
		</div>
	</div>
</section>

<div class="page-preview-content">
  <h1 contenteditable="true">Title</h1>
  <p contenteditable="true">Est Banksy nihil <a href="">new link</a> gastropub eu, <strong>consequat vero semiotics.</strong> Keytar trust fund bitters flexitarian. <em>Direct trade pickled Etsy Odd</em> Future, fingerstache veniam YOLO Shoreditch dolor aute Pinterest kogi letterpress. Meggings aesthetic deserunt semiotics, lomo chillwave occaecat flexitarian drinking vinegar. Excepteur scenester Godard drinking vinegar banh mi. Bicycle rights incididunt tousled, culpa Neutra cupidatat Schlitz mollit disrupt. Lomo non polaroid, twee iPhone DIY biodiesel nulla.</p>
  <blockquote>
    <p>
    Est Banksy nihil gastropub eu, consequat vero semiotics. Keytar trust fund bitters flexitarian. Direct trade pickled Etsy Odd Future, fingerstache veniam YOLO Shoreditch dolor aute Pinterest kogi letterpress. Meggings aesthetic deserunt semiotics, lomo chillwave occaecat flexitarian drinking vinegar. Excepteur scenester Godard drinking vinegar banh mi. Bicycle rights incididunt tousled, culpa Neutra cupidatat Schlitz mollit disrupt. Lomo non polaroid, twee iPhone DIY biodiesel nulla.
    </p>
    <footer>Someone famous</footer>
  </blockquote>
  <div class="highlight-editor">
    <a href=""><i class="gcicon gcicon-bold"></i></a>
    <a href=""><i class="gcicon gcicon-italic"></i></a>
    <a href=""><i class="gcicon gcicon-heading"></i></a>
    <a href=""><i class="gcicon gcicon-list-bullet"></i></a>
    <a href=""><i class="gcicon gcicon-list-number"></i></a>
    <a href=""><i class="gcicon gcicon-quote"></i></a>
    <a href=""><i class="gcicon gcicon-link"></i></a>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <img class="img-responsive pull-left" src="/assets/testimonial-lego.jpg"/>
  <p>Est Banksy nihil gastropub eu, consequat vero semiotics. Keytar trust fund bitters flexitarian. Direct trade pickled Etsy Odd Future, fingerstache veniam YOLO Shoreditch dolor aute Pinterest kogi letterpress. Meggings aesthetic deserunt semiotics, lomo chillwave occaecat flexitarian drinking vinegar. Excepteur scenester Godard drinking vinegar banh mi. Bicycle rights incididunt tousled, culpa Neutra cupidatat Schlitz mollit disrupt. Lomo non polaroid, twee iPhone DIY biodiesel nulla.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          
  <div class="new-module">
    <a href="" class="circle-icon add-module"><i class="gcicon gcicon-plus"></i></a>
    <div class="clearfix"></div>
  </div>
  
  <div class="new-module media-chooser">
    <a href="" class="circle-icon add-module"><i class="gcicon gcicon-plus"></i></a>
    <a href="" class="circle-icon media-type"><i class="gcicon gcicon-paragraph top-down"></i></a>
    <a href="" class="circle-icon media-type"><i class="gcicon gcicon-photo"></i></a>
    <a href="" class="circle-icon media-type"><i class="gcicon gcicon-film"></i></a>
    <div class="clearfix"></div>
  </div>
  
  <div class="new-module media-chooser">
    <a href="" class="circle-icon add-module"><i class="gcicon gcicon-plus"></i></a>
    <form role="form">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">Vimeo or YouTube URL</div>
          <input class="form-control" type="text" placeholder="http://...">
        </div>
      </div>
    </form>
    <div class="clearfix"></div>
</div>

</div>


<% end %>

<% content_for :javascripts do %>
  <script>
    $(document).ready(function(){
      page_options.init(
        <%= Refinery::Pages.new_page_parts.to_s %>
        , "<%= refinery.new_admin_page_part_path %>"
        , "<%= refinery.admin_page_parts_path %>"
      );

      $("#preview-button").click(function(e) {
        var form = $(this).parents('form');
        var prev_url = form.attr('action');
        var prev_target = form.attr('target');
        form.attr({
          'action': '<%= @page.persisted? ? refinery.pages_admin_preview_page_path(@page.nested_url) : refinery.pages_admin_preview_pages_path %>'
          , 'target': '_blank'
        });
        form.submit();
        form.attr({
          'action': prev_url
          , 'target': prev_target
        });
        e.preventDefault();
      });
    });
  </script>
<% end %>
