<%= link_to '<i class="gcicon gcicon-feather"></i> Articles'.html_safe, refinery.admin_pages_path %>
<%= link_to '<i class="gcicon gcicon-add"></i> New Article'.html_safe, refinery.admin_pages_path %>
<%= link_to '<i class="gcicon gcicon-pages"></i> Pages'.html_safe, refinery.admin_pages_path %>
<%= link_to '<i class="gcicon gcicon-group"></i> People'.html_safe, refinery.admin_pages_path %>
<button><i class="gcicon gcicon-bars"></i> More</button>