.icon-trash:before {
  content: "a";
}
.icon-edit:before {
  content: "b";
}
.icon-add:before {
  content: "c";
}
.icon-plus:before {
  content: "d";
}
.icon-search:before {
  content: "e";
}
.icon-screen:before {
  content: "f";
}
.icon-sitemap:before {
  content: "g";
}
.icon-file:before {
  content: "h";
}
.icon-folder:before {
  content: "i";
}
.icon-folder-open:before {
  content: "j";
}
.icon-reorder:before {
  content: "k";
}
.icon-photo:before {
  content: "l";
}
.icon-film:before {
  content: "m";
}
.icon-video:before {
  content: "n";
}
.icon-check:before {
  content: "o";
}
.icon-cancel:before {
  content: "p";
}
