.icon-trash:before {
  content: "a";
}
.icon-edit:before {
  content: "b";
}
.icon-add:before {
  content: "c";
}
.icon-search:before {
  content: "e";
}
.icon-screen:before {
  content: "f";
}
.icon-sitemap:before {
  content: "g";
}
.icon-file:before {
  content: "h";
}
.icon-folder:before {
  content: "i";
}
.icon-folder-open:before {
  content: "j";
}
.icon-reorder:before {
  content: "k";
}
.icon-photo:before {
  content: "l";
}
.icon-film:before {
  content: "m";
}
.icon-check:before {
  content: "o";
}
.icon-cancel:before {
  content: "p";
}
.icon-log-out:before {
  content: "r";
}
.icon-plus:before {
  content: "q";
}
.icon-play:before {
  content: "s";
}
.icon-align-center:before {
  content: "d";
}
.icon-align-left:before {
  content: "n";
}
.icon-bold:before {
  content: "t";
}
.icon-font:before {
  content: "u";
}
.icon-italic:before {
  content: "v";
}
.icon-list-bullet:before {
  content: "w";
}
.icon-list-number:before {
  content: "x";
}
.icon-quote:before {
  content: "y";
}
.icon-heading:before {
  content: "z";
}
.icon-paragraph:before {
  content: "A";
}
.icon-link:before {
  content: "B";
}
.icon-gear:before {
  content: "C";
}
