.gcicon-trash:before {
  content: "a";
}
.gcicon-edit:before {
  content: "b";
}
.gcicon-add:before {
  content: "c";
}
.gcicon-search:before {
  content: "e";
}
.gcicon-screen:before {
  content: "f";
}
.gcicon-sitemap:before {
  content: "g";
}
.gcicon-file:before {
  content: "h";
}
.gcicon-folder:before {
  content: "i";
}
.gcicon-folder-open:before {
  content: "j";
}
.gcicon-reorder:before {
  content: "k";
}
.gcicon-photo:before {
  content: "l";
}
.gcicon-film:before {
  content: "m";
}
.gcicon-check:before {
  content: "o";
}
.gcicon-cancel:before {
  content: "p";
}
.gcicon-log-out:before {
  content: "r";
}
.gcicon-plus:before {
  content: "q";
}
.gcicon-play:before {
  content: "s";
}
.gcicon-align-center:before {
  content: "d";
}
.gcicon-align-left:before {
  content: "n";
}
.gcicon-bold:before {
  content: "t";
}
.gcicon-font:before {
  content: "u";
}
.gcicon-italic:before {
  content: "v";
}
.gcicon-list-bullet:before {
  content: "w";
}
.gcicon-list-number:before {
  content: "x";
}
.gcicon-quote:before {
  content: "y";
}
.gcicon-heading:before {
  content: "z";
}
.gcicon-paragraph:before {
  content: "A";
}
.gcicon-link:before {
  content: "B";
}
.gcicon-gear:before {
  content: "C";
}
.gcicon-index:before {
  content: "D";
}
.gcicon-list:before {
  content: "E";
}
.gcicon-move:before {
  content: "F";
}
