<div style="height: 50px;"></div>

<!--
<div id="header">
  <nav class="navbar navbar-default navbar-fixed-top navbar-cover" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
			    <div class="navbar-header">
			    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <i class="icon icon-bars"></i>
			      </button>
			      <a class="navbar-brand" href="/">
              <%= Refinery::Core.site_name %>
	          </a>
			    </div>
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				    <ul class="nav navbar-nav navbar-right">
              <li><a href="/who-we-are/our-team">Who We Are</a></li>
              <li><a href="/what-we-do">What We Do</a></li>
              <li><a href="/stories">Stories</a></li>
              <li><a href="/registration/new">Registration</a></li>
              <li><a href="/faq">FAQ</a></li>
              <li><a href="http://www.canadahelps.org/CharityProfilePage.aspx?CharityID=s27905" target="_blank">Donate</a></li>
				    </ul>
			    </div>
        </div>
      </div>
    </div>
  </nav>
</div>
-->
