<% flash.each do |key, value| %>

<div class="alert alert-info alert-dismissible flash_<%= key %>" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <%= value %>
</div>
<% end %>
