@import "config/mixins";
@import "config/variables";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "partials/main";
@import "partials/icons-glass";
@import "partials/icon-styles-glass";





img.pull-left{
  margin: 10px 10px 10px 0;
}

body p{
  font-size: 16px;
  line-height: 1.6em;
}

.circle-icon{
  @include circle(30px);
}

.input-group{
  .input-group-addon{
    background: $off-white;
    border-color: $grey-2;
  }
  .form-control{
    border-color: $grey-2;
  }
}

#article-cover{
  background: url("/assets/home-cover.jpg") center center / cover no-repeat;
	height: 500px;
	padding-top: 120px;
	width: 100%;
	margin-bottom: 30px;
}



body{
  height: 100%;
  padding-top: 34px;
}

#site-bar{
  min-height: 34px;
  height: 34px;
  background: $grey-9;
  border: none;
  a{
    letter-spacing: 1px;
    padding: 4px 0;
    display: block;
    font-size: 14px;
    color: $off-white;
    &:hover{
      color: $primary-hover;
    }
  }
  .site-link a{
    font-size: 16px;
    padding: 6px 0;
    font-weight: 600;
  }
}

#flash_container{
  padding: 0;
  #flash{
    margin: 30px 0;
    padding: 10px 15px;
    background: $off-white;
    border: 1px solid $grey-2;
    #flash_close{
      float: right;
    }
  }
}

#wrapper{
  .container{
    @media (max-width: 1630px) {
      width: 100%;
    }
  }
  height: calc(100%);
  #sidebar-left{
    height: 100%;
    width: 230px;
    float: left;
    padding: 0 15px;
    #sidebar-left-nav{
      background: $off-white;
      width: 230px;
      height: 100%;
      margin-left: -15px;
      padding: 15px 0 60px;
      border-right: 1px solid $grey-2;
      position: fixed;
      overflow-y: scroll;
      overflow-x: hidden;
      li{
        margin: 0 0 1px;
        a{
          padding: 10px 15px 6px;
          width: 100%;
          display: block;
          color: $grey-6;
          font-size: 16px;
          letter-spacing: 1px;
          text-decoration: none;
          @include transition(0.1s);
          font-weight: 400;
          text-transform: uppercase;
          &:hover{
            border-bottom: 0;
            background: $white-opaque;
            color: $primary-dark;
          }
        }
        .active{
          border-right: 2px solid $primary-color;
          background: $white-opaque;
        }
        ul{
          padding-top: 1px;
          li{
            a{
              padding: 5px 15px 2px 30px;
              font-size: 14px;
              font-weight: 400;
              background: $white-opaque;
            }
          }
        }
      }
    }
  }
  .inner-wrapper{
    width: calc(100% - 460px);
    float: left;
  }
  #sidebar-right{
    height: 100%;
    width: 230px;
    padding: 0 15px;
    position: fixed;
    top: 0;
    right: 0;
    #sidebar-right-nav{
      background: $off-white;
      width: 230px;
      height: 100%;
      margin-left: -15px;
      padding: 15px 0 60px;
      border-left: 1px solid $grey-2;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
}

#page-index{
  ul{
    li{
      padding: 10px 0;
      border-bottom: 1px solid $grey-2;
      margin-bottom: 0;
      &:hover{
        .actions{
          opacity: 1;
        }
      }
      &:last-of-type{
        border: none;
        padding-bottom: 0;
      }
      .page-title{
        font-size: 18px;
        letter-spacing: 1px;  
        .label{
          background: $grey-2;
          text-transform: capitalize;
          padding: 2px 8px;
          font-weight: 600;
          margin-left: 5px;
          position: relative;
          top: -2px;
        }
      }
      .actions{
        float: right;
        opacity: 0;
        position: relative;
        top: -1px;
        span{
          width: 30px;
          text-align: center;
          display: inline-block;
          margin-left: 5px;
          a{
            color: $black;
            border: 1px solid $black;
            padding-top: 2px;
            display: block;
            &:hover{
              color: $primary-dark;
              border-color: $primary-dark;
            }
          }
        }
      }
    }
    .nested{
      margin: 10px 0 0 0;
      &:empty{
        margin: 0;
      }
      li{
        padding-left: 30px;
        border-bottom: none;
        border-top: 1px solid $grey-2;
      }
    }
  }
}

  #page-preview{
    *[contenteditable=true]:focus{
      outline: none;
      position: relative;
      border-left: 2px solid $grey-3;
      padding-left: 15px;
      margin-left: -17px;
    }
  }

#page-form{
  margin-bottom: 90px;
  .new-module{
    display: block;
    clear: both;
    padding-top: 15px;
    margin-bottom: 15px;
    a{
      &:hover{
        color: $primary-dark;
        border-color: $primary-dark;
      }
      text-align: center;
      border: 1px solid $black;
      color: $black;
      overflow: hidden;
      float: left;
      margin: 0 5px 0 0;
      .icon{
        position: relative;
      }
    }
    .add-module{
      font-size: 18px;
      top: -1px;
    }
    .media-type{
      .icon{
        font-size: 14px;
        top: 2px;
      }
    }
  }
  .media-chooser{
    .add-module{
      margin-right: 20px; 
      color: $grey-5;
      border-color: $grey-5;
      .icon{
        top: 1px;
        left: 1px;
        @include rotate(45deg);
      }
    }
    .input-group{
      top: -1px;
      .form-control{
        width: 300px;
      }
    }
  }
  
  .highlight-editor{
    position: relative;
    background: $off-white;
    border: 1px solid $grey-2;
    @include border-radius($radius);
    display: inline-block;
    padding: 5px 10px;
    &:after{
      content: "";
      position: absolute;
      bottom: -7px;
      left: 50%;
      margin-left: -7px;
      border-style: solid;
      border-width: 7px 7px 0 7px;
      border-color: $off-white transparent transparent transparent;
    }
    &:before{
      content: "";
      position: absolute;
      bottom: -8px;
      left: 50%;
      margin-left: -8px;
      border-style: solid;
      border-width: 8px 8px 0 8px;
      border-color: $grey-2 transparent transparent transparent;
    }
    a{
      margin: 0 5px;
      color: $grey-6;
      &:hover{
        color: $primary-dark;
      }
    }
  }
}

.settings{
  background: $off-white;
  border-left: 1px solid $grey-1;
  position: fixed !important;
  right: 0;
}


