/* -------------------- EDITOR -------------------- */

[contenteditable=true]:empty:before,
[contenteditable=true] p.empty:before{
  content: attr(glass-placeholder);
  display: block; /* For Firefox */
  color: $grey-5;
}

[contenteditable=true] p.empty:before{
  content: 'New Paragraph...';
  position: absolute;
}

[contenteditable=true]{
  outline: none;
  border-color: $primary-fade !important;
}

.input-group{
  .input-group-addon{
    background: $off-white;
    border-color: $grey-2;
  }
  .form-control{
    border-color: $grey-2;
  }
}

.glass-debug-cur-module {
  /*background: $grey-4;*/
}

#page-preview{
  .glass-edit-html{
    *{
      border-left: 2px solid transparent;
      padding-left: 15px;
      margin-left: -17px;
      border-right: 2px solid transparent;
      padding-right: 15px;
      margin-right: -17px;
      &.selected-module{
        outline: none;
        border-color: $primary-fade !important;
      }
      &:hover{
        border-color: rgba($primary-fade, 0.3);
      }
    }
  }
  .add-module{
    position: absolute;
    left: -50px;
  }
  .new-module{
    display: block;
    clear: both;
    margin-bottom: 15px;
    top: -1px;
  }
  .media-chooser{
    .form-group{
      margin: 0;
      .input-group{
        top: -5px;
        max-width: 500px;
        .input-group-btn{
          width: auto;
          display: block;
          .btn{
            height: 42px;
          }
        }
      }
    }
  }
}




.settings{
  background: $off-white;
  border-left: 1px solid $grey-1;
  position: fixed !important;
  right: 0;
}

#page-preview{
  header#header{
  }
  .navbar-fixed-top{
    position: absolute;
    top: 40px;
  }
  .page-preview-content{
    padding-left: 60px;
    padding-right: 60px;
  }
}
