/* -------------------- EDITOR -------------------- */

[contenteditable=true]:empty:before,
[contenteditable=true] p.empty:before{
  content: attr(glass-placeholder);
  display: block; /* For Firefox */
  color: $grey-5;
}

[contenteditable=true] p.empty:before{
  content: 'New Paragraph...';
  position: absolute;
}

[contenteditable=true] p.empty{
  min-height: 20px;
}

[contenteditable=true]{
  outline: none;
  border-color: $primary-fade !important;
}

.input-group{
  .input-group-addon{
    background: $off-white;
    border-color: $grey-2;
  }
  .form-control{
    border-color: $grey-2;
  }
}

.selected-module {
  /*background: $grey-4;*/
}

#page-preview{
  .add-module{
    position: absolute;
    left: -50px;
  }
  .new-module{
    display: block;
    clear: both;
    margin-bottom: 15px;
    top: -1px;
  }
  .media-chooser{
    .form-group{
      margin: 0;
      .input-group{
        top: -5px;
        max-width: 500px;
        .input-group-btn{
          width: auto;
          display: block;
          .btn{
            height: 42px;
          }
        }
      }
    }
  }
}




.settings{
  background: $off-white;
  border-left: 1px solid $grey-1;
  position: fixed !important;
  right: 0;
}

#page-preview{
  .navbar-fixed-top{
    position: absolute;
    top: 0px;
  }
}

.click-pads {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .click-pad {
    width: 100%;
    height: 20px;
    cursor: text;
    position: absolute;
    &.top {
      top: -20px;
    }
    &.bottom {
      bottom: -20px;
    }
  }
}
