/* -------------------- EDITOR -------------------- */

*[contenteditable=true]{
  white-space: pre-wrap;
}

[contenteditable=true]:empty:before{
  content: attr(glass-placeholder);
  display: block; /* For Firefox */
  color: $grey-5;
}

.input-group{
  .input-group-addon{
    background: $off-white;
    border-color: $grey-2;
  }
  .form-control{
    border-color: $grey-2;
  }
}

#page-preview{
  *[contenteditable=true]{
      border-left: 2px solid transparent;
      padding-left: 15px;
      margin-left: -17px;
      border-right: 2px solid transparent;
      padding-right: 15px;
      margin-right: -17px;
    &:focus{
      outline: none;
      border-color: $primary-fade !important;
    }
    &:hover{
      border-color: rgba($primary-fade, 0.3);
    }
  }
  .add-module{
    position: absolute;
    left: -50px;
  }
  .new-module{
    display: block;
    clear: both;
    margin-bottom: 15px;
    top: -1px;
  }
  .media-chooser{
    .form-group{
      margin: 0;
      .input-group{
        top: -5px;
        max-width: 500px;
        .input-group-btn{
          width: auto;
          display: block;
          .btn{
            height: 42px;
          }
        }
      }
    }
  }

  .glass-left-of-content{
    left: -45px;
  }
  
  .highlight-editor{
    background: $off-white;
    border: 1px solid $grey-2;
    @include border-radius($radius);
    display: inline-block;
    padding: 5px 10px;
    &:after{
      content: "";
      position: absolute;
      bottom: -7px;
      left: 50%;
      margin-left: -7px;
      border-style: solid;
      border-width: 7px 7px 0 7px;
      border-color: $off-white transparent transparent transparent;
    }
    &:before{
      content: "";
      position: absolute;
      bottom: -8px;
      left: 50%;
      margin-left: -8px;
      border-style: solid;
      border-width: 8px 8px 0 8px;
      border-color: $grey-2 transparent transparent transparent;
    }
    a{
      margin: 0 5px;
      color: $grey-6;
      &:hover{
        color: $primary-dark;
      }
    }
  }
}




.settings{
  background: $off-white;
  border-left: 1px solid $grey-1;
  position: fixed !important;
  right: 0;
}

#page-preview{
  header#header{
  }
  .navbar-fixed-top{
    position: absolute;
    top: 40px;
  }
  .page-preview-content{
    padding-left: 60px;
    padding-right: 60px;
  }
}
