<div id="page-group">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-3">    
          <div class="sidebar">
            <% if @page.parent %>
              <% content_for :javascripts do %>
                <script type="text/javascript">
                  $('#about .sidebar ul').addClass('list-unstyled');
                </script>
              <% end %>
              <% 
                submenu              = page_group_menu(@page)
                submenu.dom_id       = "page-sub-nav"
                #submenu.css          = "nav menu clearfix sub-nav affix-container"
                submenu.selected_css = "active"
              %>
              <%= submenu.to_html -%>
            <% end %>
          </div>    	   
    	  </div>
    	  <div class="col-sm-8 col-md-9">
          <h1><%= @page.title %></h1>
          <%= render '/refinery/content_page', { :hide_sections => [:body_content_title] } %>
          <%= yield :extra_page_content %>
    	  </div>
      </div>
    </div>
  </section>
</div>
